#island {
  position: relative;
  display: flex;
  gap: 32px;
  padding: 16px;
  border-radius: 16px;
  background-color: hsla(0, 0%, 100%, 0.3);
  flex-grow: 1;
  justify-content: space-between;
  .description-island {
    min-width: 200px;
    width: 66%;
  }

  .map-island {
    width: clamp(200px, 33%, 600px);
    height: clamp(200px, 50vh, 600px);
    border-radius: 16px;
  }

  .back-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    top: 0;
    left: -80px;
    justify-content: center;

    .fa-arrow-left {
      font-size: 1.5rem;
    }
  }
}
