#island {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 16px;

  #new_booking {
    background-color: hsla(0, 0%, 100%, 0.3);
    padding: 16px;
    border-radius: 16px;

    .main-cta-color-BonWup-book {
      width: 100%;
      padding: 0.5rem 8px;
    }

  }

}

.island-content {
  display: flex;
  gap: 8px;
  padding: 16px;
  border-radius: 16px;
  background-color: hsla(0, 0%, 100%, 0.3);
}

#islandPictures {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-auto-rows: minmax(100px, auto);

  .back-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    top: 0;
    left: -80px;
    justify-content: center;

    .fa-arrow-left {
      font-size: 1.5rem;
    }
  }
  img {
    border-radius: 8px;
    object-fit: cover;
    object-position: center;
  }

  .portal {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    height: 100%;
  }
}

  .map-island {
    width: 100%;
    height: clamp(200px, 50vh, 600px);
    border-radius: 16px;
  }
