// Define variables for your color scheme

// For example:
$red: #FD1015;
$primaryColor1: #6184D8;
$primaryColor: #FF1654;
$blue: #6184D8;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$notSoLight-gray: #F4F4F4;
$purple: #9263e3;
$white: #ffffff;
$black: #000000;
$blueelectric: #5ae3ed;
$bluejeans: #4bb3fd;