// Specific CSS for your home-page
$font_color: #FFFFFF;
$font_color_dark: $black;
$font_main: "Open Sans";
$color_main: #040720;
$color_accent: #6184D8;
$color_secondary: #EDAE49;
$color_secondary_accent: #FF1654;


.typed-cursor {
  display: none !important;
}

body.home {
  color: $font_color;
  background-color: $ironBlack;
}


main .hero-left {
  width: 100%;
  margin: 5% 0;
  color: $font_color;

  @media only screen and (max-width: 1200px) {
    margin-bottom: 3.5rem;
  }
}

.floating-logo{
  transform: translateY(-10%);
  animation: floater 2.5s infinite;
  transition: ease 2.5s;
  width: 80px;
  height:80px;
}



@keyframes floater {
  0%{transform: translateY(-10%);transition: ease 1s;}
  50%{transform: translateY(10%);transition: ease 1s;}
}

main .hero-left .hero-left-content {
  color: $font_color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: calc(100vh - 93px);

  @media only screen and (max-width: 1200px) {
    flex-direction: column-reverse;
  }
}

main .hero-left .content-left {
  width: 55%;
  min-width: 400px;

  @media only screen and (max-width: 1200px) {
    width: 100%;
  }
}

main .hero-left .hero-left-content img {
  width: 40%;
  height: auto;
  object-fit: cover;

  @media only screen and (max-width: 1200px) {
    width: 60%;
    margin-bottom: 2rem;
  }
}

main .hero-left h1 {
  font-size: 3.5rem;
  font-family: 'Open Sans';
  font-weight: 900;
  line-height: 1.1;
  margin-bottom: 3%;

  @media only screen and (max-width: 768px) {
    margin-bottom: 2.5rem;
  }

  @media only screen and (max-width: 540px) {
    font-size: 2.5rem;
  }
}

main .hero-left .hero-left-content p {
  margin-bottom: 4%;
}

main .hero-left .hero-left-content button {
  color: $font_color;
  background-color: $light-gray;
  padding: 8px 16px;
  border-radius: 4px;
}

.container {
  width: 80%;
  max-width: 1920px;
  margin: 0 auto;

  @media only screen and (max-width: 540px) {
    width: 90%;
  }
}

a {
  text-decoration: none;
}

button {
  background-color: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

main {
  #about {
    margin: 10rem 0;
    display: flex;
    // flex-direction: column;
    justify-content: center;
    gap: 2rem;

    .about-text {
      h2 {
        margin-bottom: 2rem;
      }

      p:last-of-type {
        margin-bottom: 2rem;
      }
    }
    img {
      height: 150px;
      width: auto;
      margin-bottom: 2rem;
    }
  }

  #islands {
    margin: 10rem 0;

    h2 {
      margin-bottom: 2rem;
      text-align: center;
    }

    .islands-card-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2rem;

      .island-card {
        background: rgba(255, 255, 255, 0.2);
        box-shadow: 0px 20px 20px -17px rgba(158, 104, 221, 0.2);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        padding: 1rem;
        border-radius: 20px;
        width: 31%;
        transition: all .3s ease-in;

        &:hover {
          -webkit-box-shadow: 0px 25px 25px -27px rgba(158, 104, 221, 0.6);
            -moz-box-shadow: 0px 25px 25px -27px rgba(158, 104, 221, 0.6);
            box-shadow: 0px 25px 25px -27px rgba(158, 104, 221, 0.6);
        }
      }
    }
  }

  #advantages {
    margin: 6rem 0;
    h2 {
      margin-bottom: 2rem;
      text-align: center;
    }
    .adv-btn-container {
      text-align: center;
      display: flex;
      justify-content: center;
      // margin-top: 2rem;
    }

    .adv-container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .adv-card {

        i {
          font-size: 2rem;
          margin-bottom: 1rem;
        }

        background: rgba(255, 255, 255, 0.2);
        box-shadow: 0px 20px 20px -17px rgba(107, 218, 176, 0.2);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        padding: 1rem;
        border-radius: 20px;
        width: 24%;
        transition: all .3s ease-in;
        text-align: center;
        // min-height: 150px;

        &:hover {
          -webkit-box-shadow: 0px 20px 20px -27px rgba(107, 218, 176, 0.6);
            -moz-box-shadow: 0px 20px 20px -27px rgba(107, 218, 176, 0.6);
            box-shadow: 0px 20px 20px -27px rgba(107, 218, 176, 0.6);
        }
      }
    }
  }

  #reviews {
      .reviews-container {
        display: flex;
        gap: 15px;
        .review-card {
            width: 40%;
            padding: 20px;
            border: 1px solid lightgray;
            border-radius: 10px;

            .name {
                font-size: 1.125rem;
                font-weight: 600;
                margin-bottom: .4em;
            }

            .comment {
                color: #626262;
            }

            .stars {
                list-style: none;
                display: inline-flex;
                margin-bottom: .4em;

                li:not(.first) {
                    margin-left: .2em;
                }

                li {
                    color: #FFD43B;
                }
            }
        }
    }
  }

  p {
    font-weight: 400;
  }

  .cta-container button {
    color: #FFFFFF;
    padding: 4px 20px;
    border-radius: 6px;
    border: 2px solid #FFFFFF;
  }

  // Who is it for section style


  .faq {
    margin-top: 7.5rem;
    color: $font_color !important;

    .faq-title {
      font-size: 2.5rem;
      margin-bottom: 2rem;
    }

    .accordion {
      --bs-accordion-bg: none !important;
      color: $font_color !important;

      .accordion-item {
        padding: 1% 0;

        .accordion-button {
          color: $font_color !important;
        }

        .accordion-header {
          font-size: 2.5rem;
          font-weight: 700;
        }

        .accordion-body {
          color: $font_color !important;
        }

        .accordion-button:not(.collapsed) {
          background-color: transparent !important;
          color: $font_color !important;
        }

        .accordion-button:focus {
          border: 0 !important;
        }
      }

    }

    .accordion-item, .accordion-item:focus, .accordion-item:active,
    .accordion-header, .accordion-header:focus, .accordion-header:active,
    .accordion-button, .accordion-button:focus, .accordion-button:active {
      outline: none !important;
      box-shadow: none;
      border-color: rgba(0,0,0,.125);
    }
  }
}

#booking-section {
  margin: 4rem 0;

  .booking-container {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 2rem;
    border-radius: 32px;
  
    h2 {
      margin-bottom: 2rem;
    }

    #new_booking {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .input-group-container {
        width: 87%;

        .input-group {

          &.second {
            height: 38px;
          }
        }
      }
    }
  
    .booking-form {
      display: flex;
      flex-grow: 1;
      color: $font_color !important;
  
      .form-label {
        margin-bottom: 0;
      }

      .form-control, .form-select {
          background: rgba(255, 255, 255, 0.2);
          color: $font_color !important;
      }

      .form-label {
        background: rgba(255, 255, 255, 0.2);
        border: 2px solid rgba(255, 255, 255, 0.3);
        border-radius: 5px;
        color: $font_color !important;
      }
      
      .form-control:focus {
          background: rgba(255, 255, 255, 0.2);
      }
    }
  }
}
