// Specific CSS for your home-page
$font_color: rgb(230, 237, 246);
$font_main: "Open Sans";
$color_main: #040720;
$color_accent: #6184D8;
$color_secondary: #EDAE49;
$color_secondary_accent: #FF1654;

@mixin grayscale($percent) {
  -webkit-filter: grayscale($percent);
  -moz-filter: grayscale($percent);
  -ms-filter: grayscale($percent);
  -o-filter: grayscale($percent);
  filter: grayscale($percent);
}

@mixin gradient($deg, $a, $b, $c, $d) {
  background: -moz-linear-gradient($deg, $a, $b, $c, $d);
  background: -webkit-linear-gradient($deg, $a, $b, $c, $d);
  background: linear-gradient($deg, $a, $b, $c, $d);
}

@mixin animate($animation, $time) {
  -webkit-animation: $animation $time ease infinite;
  -moz-animation: $animation $time ease infinite;
  -o-animation: $animation $time ease infinite;
  animation: $animation $time ease infinite;
}

@mixin transition($time) {
  -webkit-transition: all $time ease-in-out;
  transition: all $time ease-in-out;
}

@-webkit-keyframes gradient_transition {
  0% {
    top: 0;
    left: 0;
  }

  50% {
    top: -200%;
    left: -200%;
  }

  100% {
    top: 0;
    left: 0;
  }
}

@-moz-keyframes gradient_transition {
  0% {
    top: 0;
    left: 0;
  }

  50% {
    top: -200%;
    left: -200%;
  }

  100% {
    top: 0;
    left: 0;
  }
}

@-o-keyframes gradient_transition {
  0% {
    top: 0;
    left: 0;
  }

  50% {
    top: -200%;
    left: -200%;
  }

  100% {
    top: 0;
    left: 0;
  }
}

@keyframes gradient_transition {
  0% {
    top: 0;
    left: 0;
  }

  50% {
    top: -200%;
    left: -200%;
  }

  100% {
    top: 0;
    left: 0;
  }
}

.typed-cursor {
  display: none !important;
}

body.home {
  color: $font_color;
  font-weight: lighter;

  &::before,
  &::after {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &::after {
    content: "";
    width: 400%;
    height: 400%;
    opacity: 0.8;
    @include gradient(-45deg, $color_secondary, $color_secondary_accent, $color_main, $color_accent);
    @include animate(gradient_transition, 15s);
  }
}


main .hero-left {
  width: 100%;
  margin: 5% 0;

  @media only screen and (max-width: 1200px) {
    margin-bottom: 3.5rem;
  }
}

.floating-logo{
  transform: translateY(-10%);
  animation: floater 2.5s infinite;
  transition: ease 2.5s;
  width: 80px;
  height:80px;
}



@keyframes floater {
  0%{transform: translateY(-10%);transition: ease 1s;}
  50%{transform: translateY(10%);transition: ease 1s;}
}

main .hero-left .hero-left-content {
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: 1200px) {
    flex-direction: column-reverse;
  }
}

main .hero-left .content-left {
  width: 55%;

  @media only screen and (max-width: 1200px) {
    width: 100%;
  }
}

main .hero-left .hero-left-content img {
  width: 40%;
  height: auto;
  object-fit: cover;

  @media only screen and (max-width: 1200px) {
    width: 60%;
    margin-bottom: 2rem;
  }
}

main .hero-left h1 {
  font-size: 3.5rem;
  font-family: 'Open Sans';
  font-weight: 900;
  line-height: 1.1;
  margin-bottom: 3%;

  @media only screen and (max-width: 768px) {
    margin-bottom: 2.5rem;
  }

  @media only screen and (max-width: 540px) {
    font-size: 2.5rem;
  }
}

main .hero-left .hero-left-content p {
  margin-bottom: 4%;
}

main .hero-left .hero-left-content button {
  color: #FFFFFF;
  background-color: $light-gray;
  padding: 8px 16px;
  border-radius: 4px;
}

.container {
  width: 80%;
  max-width: 1920px;
  margin: 0 auto;

  @media only screen and (max-width: 540px) {
    width: 90%;
  }
}

a {
  text-decoration: none;
}

button {
  background-color: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

main {

  .services {
    padding: 2% 0;
  }

  .services h2 {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 2.5rem;
    font-weight: bold;
  }

  .services .steps-card-container .steps-card {
    width: 28%;
    min-width: 250px;
    border-radius: 10px;
    background-color: #FFFFFF;
    text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (max-width: 990px) {
      width: 90%;
      height: auto;
      margin-bottom: 2rem;
    }

    @media only screen and (min-width: 1200px) {
      min-height: 335px;
    }

    h3 {
      color: $color_accent;
      margin-bottom: 1.5rem;
      text-align: left;
    }

    p {
      color: #040720;
      text-align: left;
    }
  }

  .services .steps-card-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    margin-bottom: 3%;

    @media only screen and (max-width: 990px) {
      flex-direction: column;
    }

    @media only screen and (min-width: 1200px) {
      min-width: 850px;
    }
  }

  p {
    font-weight: 400;
  }

  .cta-container button {
    color: #FFFFFF;
    padding: 4px 20px;
    border-radius: 6px;
    border: 2px solid #FFFFFF;
  }

  .about-oni {
    margin-bottom: 4.5rem;

    h2 {
      font-size: 2.5rem;
      margin-bottom: 3rem;
    }

    .about-oni-content-inside {
      .about-oni-text {
        margin-bottom: 3.5rem;
        background-color: $white;
        border-radius: 10px;
        padding: 5%;
        color: $black;
        margin-top: 2rem;

        h3 {
          font-size: 1.5rem;
        }

        p {
          line-height: 1.6;
        }
      }

      .about-oni-text-2 {
        background-color: none;
        border: 3px solid $white;
        padding: 5%;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;

        @media only screen and (max-width: 1200px) {
          flex-direction: column-reverse;
        }

        .about-oni-text-2-content {
          width: 48%;

          @media only screen and (max-width: 1200px) {
            width: 100%;
          }
        }

        img {
          width: 48%;
          height: auto;

          @media only screen and (max-width: 1200px) {
            width: 100%;
          }
        }
      }
    }
  }

  .crazy {
    margin: 4.5rem 0;

    h2 {
      font-size: 2.5rem;
    }

    .crazy-content-inside {
      .crazy-text {
        margin-bottom: 3.5rem;
        background-color: $white;
        border-radius: 10px;
        padding: 5%;
        color: $black;
        margin-top: 2rem;

        h3 {
          font-size: 1.5rem;
        }

        p {
          line-height: 1.6;
        }
      }

      .crazy-text-2 {
        background-color: none;
        border: 3px solid $white;
        padding: 5%;
        border-radius: 10px;

        .podcast {
          iframe {
            margin-top: 1rem;
          }
        }
      }
    }
  }

  // Who is it for section style

  .oni-who {
    padding: 2% 0;

    h2 {
      text-align: center;
      margin-bottom: 3%;
      font-size: 2.5rem;
      font-weight: bold;
    }

    .oni-who-card-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      // min-width: 850px;
      max-width: 1440px;
      margin-bottom: 3%;

      @media only screen and (max-width: 990px) {
        flex-direction: column;
      }

      @media only screen and (min-width: 1200px) {
        min-width: 850px;
      }

      .oni-who-card {
        width: 28%;
        min-width: 250px;
        border-radius: 10px;
        background-color: #FFFFFF;
        text-align: center;
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        padding: 3%;
        display: flex;
        flex-direction: column;

        @media only screen and (max-width: 990px) {
          width: 90%;
          height: auto;
          margin-bottom: 2rem;
        }

        @media only screen and (min-width: 1200px) {
          min-height: 400px;
        }

        h3 {
          color: $color_accent;
          margin-bottom: 1.5rem;
          text-align: left;
        }

        p {
          color: #040720;
          text-align: left;
        }
      }
    }
  }

  .cta-container {
    border-radius: 10px;
    background-color: $white;
    margin: 3.5rem 0;

    padding: 3% 5%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 6%;

    .cta-text-content {
      h3 {
        color: $primaryColor;
        font-weight: 700;
      }

      p {
        color: $black;
      }
    }
  }

  .faq {
    margin-top: 7.5rem;
    color: $white !important;

    .faq-title {
      font-size: 2.5rem;
      margin-bottom: 2rem;
    }

    .accordion {
      --bs-accordion-bg: none !important;
      color: $white !important;

      .accordion-item {
        padding: 2% 0;

        .accordion-button {
          color: $white !important;
        }

        .accordion-header {
          font-size: 2.5rem;
          font-weight: 700;
        }

        .accordion-body {
          color: $white !important;
        }

        .accordion-button:not(.collapsed) {
          background-color: transparent !important;
          color: $white !important;
        }

        .accordion-button:focus {
          border: 0 !important;
        }
      }

    }
  }
}

.crazys {
  display: flex;
  flex-direction: column;
  align-items: center;
  .crazy {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    color: #040720;
    padding: 2rem;

    p {
      font-weight: 400;
    }
  }
}
