<main class="home">
        <section class="hero-left">
            <div class="hero-left-content">
                <div class="content-left">
                    <%# <canvas class="webgl"></canvas> %>
                    <h1>Isle Portal Indian Ocean</h1>
                    <p>Experience seamless island-hopping with our cutting-edge teleportation service, connecting you effortlessly and ecologically to the Indian Ocean islands .</p>
                </div>
                <%= image_tag "logo.svg", class: 'floating-logo' %>
            </div>
        </section>

        <section id="booking-section">
            <h2>Booking section</h2>
            <div class="booking-container">
                <form action="post">
                    <div class="elem-group">
                        <label for="departure">Departure</label>
                        <input type="text" id="depart" name="departure" placeholder="Mauritius" required>
                    </div>
                    <div class="elem-group">
                        <label for="arrival">Arrival</label>
                        <input type="text" id="arrive" name="arrival" placeholder="Seychelles" required>
                    </div>
                    <a href="" class="booking-btn">Teleport</a>
                </form>
            </div>
        </section>

        <section id="about">
            <h2>Unlock Your Island Adventures: Plan Your Teleportation Journey Today!</h2>
            <p>Welcome to Isle Portal teleportation service, where we make the impossible, possible! Say goodbye to long hours of travel and hello to instant connections with loved ones, emergency assistance, seamless medical visits, and unforgettable island explorations.</p>
            <br>
            <p>With Isle Portal, every journey becomes a joyous adventure, as we whisk you away to your destination in the blink of an eye.</p>
            <br>
            <p>Join us and embrace the magic of teleportation for all your travel needs – because life's too short for waiting!</p>
            <a href="#" class="tele-btn">Teleport Now</a>
        </section>

        <section id="islands" >
            <div class="islands-container">
                <h2>Featured Islands</h2>
                <div class="container steps-card-container">
                    <article class="steps-card">
                        <i class="fa-sharp fa-solid fa-thought-bubble" style="color: #6184d8;"></i>
                        <h3>Seychelles</h3>
                        <p>Lorem ipsum dolor sit. </p>
                    </article>

                    <article class="steps-card">
                        <h3>Reunion</h3>
                        <p>Lorem, ipsum dolor.</p>
                    </article>

                    <article class="steps-card">
                        <h3>Comores</h3>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </article>
                </div>
            </div>
        </section>

        <section id="advantages">
            <h2>The Fast, Flexible, and Hassle-Free Way to Travel</h2>
            <div class="adv-container">
                <div class="adv-card">
                    <i class="fa-solid fa-gauge-high"></i>
                    <h4>Instant Connectivity</h4>
                </div>

                <div class="adv-card">
                    <i class="fa-solid fa-gauge-high"></i>
                    <h4>Time Efficiency</h4>
                </div>

                <div class="adv-card">
                    <i class="fa-solid fa-gauge-high"></i>
                    <h4>Versatile Travel</h4>
                </div>

                <div class="adv-card">
                    <i class="fa-solid fa-gauge-high"></i>
                    <h4>Eco-Friendly</h4>
                </div>
                <a href="#" class="tele-btn">Teleport Now</a>
            </div>
        </section>

        <section id="reviews">
            <h2>Teleportation Tales: What Our Teleporters Have to Say</h2>
            <div class="reviews-container">
                <div class="review-card">
                    <p class="name">Gerard L.</p>
                    <ul class="stars">
                        <li class="first"><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-regular fa-star"></i></li>
                    </ul>
                    <p class="comment">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam commodi omnis blanditiis!
                        Cupiditate quod vel rerum laborum explicabo, atque aspernatur?</p>
                </div>

                <div class="review-card">
                    <p class="name">Zack L.</p>
                    <ul class="stars">
                        <li class="first"><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-regular fa-star"></i></li>
                    </ul>
                    <p class="comment">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam commodi omnis blanditiis!
                        Cupiditate quod.</p>
                </div>
            </div>
        </section>

        <section class="faq">
            <h2 class="faq-title">FAQ</h2>
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/y_4kCV_Hqb4?si=dT6qYUgZ3BxEeA1t" frameborder="0"></iframe>
            </div>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            How does teleportation travel work?
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            Teleportation travel utilizes advanced technology to instantly transport individuals from one location of our location to another by dematerializing them at the starting point and rematerializing them at the destination.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            Is teleportation safe?
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            Yes, teleportation is safe. Our teleportation service undergoes rigorous testing and adheres to strict safety protocols to ensure the well-being of our travelers.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                             Is teleportation travel environmentally friendly?
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            Yes, teleportation travel is environmentally friendly. By eliminating the need for traditional modes of transportation such as airplanes or cars, teleportation helps reduce carbon emissions and minimize environmental impact.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                            Can I teleport to multiple destinations in one trip?
                        </button>
                    </h2>
                    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            Currently, our teleportation service is limited to single-point teleportation. Each teleportation journey transports travelers directly from one location to another.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                            How much does teleportation travel cost?
                        </button>
                    </h2>
                    <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            Teleportation travel costs vary depending on factors such as distance and destination. Start to plan your teleportation, you will have the pricing in the Teleport Travel Sum Up page of your booking. If the price is good for you, you can proceed to the payment step.
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
