<main class="home">
        <section class="hero-left">
            <div class="hero-left-content">
                <div class="content-left">
                    <%# <canvas class="webgl"></canvas> %>
                    <h1>Isle Portal Indian Ocean</h1>
                    <p>Experience seamless island-hopping with our cutting-edge teleportation service</p>
                </div>
                <%= image_tag "logo.svg", class: 'floating-logo' %>
            </div>
        </section>

        <section id="booking-section">
            <h2>Booking section</h2>
        </section>

        <section class="about-oni" id="about">
            <div class="about-oni-content">
                <h2 class="secondary-header-style-wh3">What is  ?</h2>
                <div class="about-oni-content-inside" id="about-app">
                    <article class="about-oni-text">
                        <h3>webcup is ...</h3>
                        <p>Lorep.</p>
                        <%= link_to "Try webcup  Now", new_user_session_path, class: "btn main-cta-color-onW" %>
                    </article>

                    <article class="about-oni-text-2">
                        <div class="about-oni-text-2-content" id="about-iid">
                            <h3 class="secondary-header-style-wh3">The International webcup </h3>
                            <p>éprem desdc.</p>
                            <br>
                            <p>As a leader .</p>
                            <%= link_to "Get In Touch", "/contact", class: "btn secondary-cta" %>
                        </div>
                        <%= image_tag "logo.svg" %>
                    </article>

                </div>
            </div>
        </section>

        <section id="islands" >
            <div class="islands-container">
                <h2>Featured Islands</h2>
                <div class="container steps-card-container">
                    <article class="steps-card">
                        <i class="fa-sharp fa-solid fa-thought-bubble" style="color: #6184d8;"></i>
                        <h3>Seychelles</h3>
                        <p>Lorem ipsum dolor sit. </p>
                    </article>

                    <article class="steps-card">
                        <h3>Reunion</h3>
                        <p>Lorem, ipsum dolor.</p>
                    </article>

                    <article class="steps-card">
                        <h3>Comores</h3>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </article>
                </div>
            </div>
        </section>

        <section id="advantages">
            <h2>Our main advantages!</h2>
        </section>

        <section id="reviews">
            <h2>Our amazing reviews!</h2>
        </section>

        <section class="faq">
            <h2 class="faq-title">FAQ</h2>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        What is the webcup
                    </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">The webcup organizatio.</div>
                    </div>
                </div>
            </div>
        </section>

    </main>
