<div>
  <div style="margin-bottom: 60px;">
    <h1>
      Privacy Policy
    </h1>
      <p>
        The .... respects your privacy and is committed to protecting your personal data. This Privacy Policy describes how we collect, use, and disclose your personal data when you use our website presenting app AI product.
      </p>
  </div>
    <div style="margin-bottom: 30px;">
    <h2>
      Collection and Use of Personal Data
    </h2>
      <p>
        When you use our website presenting app AI product, we may collect and use the following types of personal data:
      </p>
      <ul>
        <li>Contact information such as your name and email address.</li>
        <li>Usage information such as your IP address, browser type, and device information.</li>
        <li>Other information that you voluntarily provide to us through our website.</li>
      </ul>
      <p>
        We use this personal data to provide you with our services, communicate with you, and improve our website and app AI perfomance.
      </p>
  </div>
  <div style="margin-bottom: 30px;">
    <h2>
      Disclosure of Personal Data
    </h2>
      <p>
        We do not share your personal data with third parties, except as required by law or as necessary to provide our services.
      </p>
  </div>
  <div style="margin-bottom: 30px;">
    <h2>
      Cookies and Tracking Technologies
    </h2>
      <p>
       We use cookies and other tracking technologies to improve our website and to provide a better user experience. These technologies may collect usage information such as your IP address, browser type, and device information.
      </p>
  </div>
  <div style="margin-bottom: 30px;">
    <h2>
      Your Rights
    </h2>
      <p>
        You have the right to access, correct, and delete your personal data. You also have the right to object to the processing of your personal data and to withdraw your consent at any time. To exercise these rights, please contact us <%= link_to "HERE", "/contact", class: "text-white" %>
      </p>
  </div>
  <div style="margin-bottom: 30px;">
    <h2>
      Security
    </h2>
      <p>
        We take appropriate technical and organizational measures to protect your personal data from unauthorized access, disclosure, or destruction.
      </p>
  </div>
  <div style="margin-bottom: 30px;">
    <h2>
    Changes to this Privacy Policy
    </h2>
      <p>
        We may update this Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on our website.
      </p>
  </div>
  <div style="margin-bottom: 30px;">
    <h2>
    Contact Us
    </h2>
    <p>
      If you have any questions or concerns about this Privacy Policy, please contact us <%= link_to "HERE", "/contact", class: "text-white" %>
    </p>
  </div>
</div>
