.login-form {
    .form-logo {
        text-align: center;
        
        img {
            width: 400px;
            height: auto;
            text-align: center;
            margin-bottom: 2rem;
        }
    }
}