.booking-table-container {
    margin: 3% auto;

    #booking-table {
        padding: 1rem;
        border-radius: 20px;
        color: $font_color !important;

        i {
            color: #929292 !important;
        }
    }
}